parameters:
    level: 8
    paths:
        - data
    parallel:
        maximumNumberOfProcesses: 8

services:
    -
        class: Phauthentic\PhpstanRules\ControlStructureNestingRule
        arguments:
            maxNestingLevel: 2
        tags:
            - phpstan.rules.rule
    -
        class: Phauthentic\PhpstanRules\TooManyArgumentsRule
        arguments:
            maxArguments: 3
        tags:
            - phpstan.rules.rule
    -
        class: Phauthentic\PhpstanRules\ReadonlyClassRule
        arguments:
            patterns: ['/^App\\Controller\\/']
        tags:
            - phpstan.rules.rule
    -
        class: Phauthentic\PhpstanRules\DependencyConstraintsRule
        arguments:
            forbiddenDependencies: [
                '/^App\\Domain(?:\\\w+)*$/': ['/^App\\Controller\\/']
            ]
        tags:
            - phpstan.rules.rule
    -
        class: Phauthentic\PhpstanRules\FinalClassRule
        arguments:
            patterns: ['/^App\\Service\\/']
        tags:
            - phpstan.rules.rule
    -
        class: Phauthentic\PhpstanRules\NamespaceClassPatternRule
        arguments:
            namespaceClassPatterns: [
                [
                    namespace: '/^App\\Service$/',
                    classPatterns: ['/Class$/']
                ]
            ]
        tags:
            - phpstan.rules.rule